{% extends 'base.html' %}
{% block content %}
  <p><h2 class="mb-4">Менің pet-жобама қош келдіңіз!</h2></p>
  <p>Pet-жобаны дайындалған: Мақсат</p>
  <p>Қолданған технологиялар Python, FastAPI</p>
  <p>Курста мен келесі тақырыптарды үйрендім:</p>
    <ul>
      <li> Программинг негіздері </li>
      <li> Python </li>
      <li> FastAPI фреймворк </li>
      <li> OOP </li>
      <li> Jinja2 шаблондарымен жұмыс жасау </li>
      <li> Heroku-ға жүктеу </li>
      <li> Public API-мен жұмыс жасау </li>
      <li> Trello-мен жұмыс iстеуге үйрендім</li>
    </ul>

    Курс кураторы: Рауан Құрмет. 1001developers.com
{% endblock %}
